
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    var accessToken = '',
        refreshToken = '';
    $(function () {
        $("#btnAccessToken").click(function () {
            $.get('/ClientGrantTest/GetAccessToken', {}, function (data) {
                alert(data);
            });
        });
        $("#btnGetResource").click(function () {
            $.get('/ClientGrantTest/GetResource', {}, function (data) {
                alert(data);
            });
        });
    });
</script>

<button id="btnAccessToken">获取access_Token</button><br />

<button id="btnGetResource">获取资源</button>


