<div class="tableheader">
    <botton class="btn btn-grey addproduct">  添 加 商 品  </botton>
    <label class="searchlabel">
        <select id="select" name="select">
            <option value="1">外卖</option>
            <option value="2">饮料小吃</option>
            <option value="3">生活用品</option>
        </select>
</div>

<table class="data display datatable" id="example">
    <thead>
        <tr>
            <th style="width: 15%; text-align: center">商品名称</th>
            <th style="width: 15%; text-align: center">商品图片</th>
            <th style="width: 10%; text-align: center">商品单价</th>
            <th style="width: 10%; text-align: center">商品分类</th>
            <th style="width: 10%; text-align: center">是否有货</th>
            <th style="width: 10%; text-align: center">是否推荐</th>
            <th style="width: 15%; text-align: center">商品描述</th>
            <th style="width: 15%; text-align: center">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd gradeX">
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr class="odd gradeX">
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </tbody>

</table>
<div style="margin-top:30px;">
    <div style="float:left; margin-right:30px; display:none;" id="shang">上一页</div> <div style="float:left;display:none;" id="xia">下一页</div>
</div>
